/* //------------------------PAGE-HOME------------------------------// */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../images/planet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container{
  width: 80%;
  margin: auto;
}

.title{
  text-align: center;
  margin-top: 100px;
}

.title img{
  width: 200px;
}

.title h1{
  font-family: 'Original Surfer', cursive;
  color: red;
  font-size: 2.5rem;
  text-shadow: 2px 0px 0px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

span{
  color:#9708cc;
} 

.title h3 {
  font-family: 'Original Surfer', cursive;
  font-size: 1.8rem;
  color: red;
  text-shadow: 2px 0px 0px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.container-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container-text p{
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.start{
  text-align: center;
  margin-top: 50px;
}

.start p{
  margin: 50px 0;
  /* color: #d4acfff9; */
  color: red;
  text-shadow: 2px 0px 0px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size: 1.5rem;
  font-family: 'Original Surfer', cursive;
  font-weight: 600;
}

.start a{
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 15px;
  background: #fbc910; 
  color: #F94F87;
  font-family: 'Original Surfer';
  font-weight: 600;
  text-decoration: none;
}

.start button:focus{
  outline: none;
}

footer .icons-social{
  text-align: center;
  margin: 40px 0; 
}

footer .icons-social i{
  padding: 0 5px;
  font-size: 1.5rem;
  color:#fff;
}

footer .icons-social i:hover{
  color: #fbc910;
}

footer .copy-right{
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  /* padding-bottom: 25px; */
}


/* //-----------------------media-query--------------------// */

@media (max-width:425px){
  .container{
    width: 90%;
  }

  .container-text p{
    font-size: 1.3rem;
  }
  
  .container-text img{
    width: 50%;
  }
}